@media screen and (max-width:576px) {
    * {
        margin: 0;
        padding: 0;
    }

    .title {
        font-size: 2rem;
        margin-bottom: 1%;
    }

    .subtitle {
        font-size: 1rem;
    }

    /* Banner Section */

    .banner-container {
        margin: 1% 2% 10%;
        flex-direction: column;
        background-size:150%;
        background-repeat: no-repeat;
        background-position: bottom;
    }

    .banner-left {
        width: 100%;
        text-align: center;
        margin-bottom: 5%;
    }

    .banner-title {
        font-size: 3rem;
        margin-bottom: 2%;
    }
    
    .banner-subtitle {
        font-family: Poppins;
        font-size: 0.875rem;
        margin-bottom: 3%;
    }

    .banner-right {
        width: 100%;
        text-align: center;
        margin-right: 0;
    }
    
    .banner-right img {
        width: 100%;
    }
    
    /* Today Section */

    .today {
        margin: 1% 2% 10%;
    }

    .today-part-1 {
        margin: 0 1% 2%;
    }
    
    .today-part-2 {
        grid-template-columns: repeat(auto-fit, minmax(47%, 1fr));
        margin: 1% 1%;
    }

    .today-card {
        padding: 3% 2%;
        font-size: 1.5rem;
    }

    .today-part-3 {
        margin: 1% 1%;
    }

    .today-part-3 input {
        width: 100%;
        font-size: 1rem;
        margin-top: 5%;
    }

    .today-part-3 hr {
        border: 1.5px solid rgb(179, 179, 179);
        margin: 3% 5% 3%;
    }

    /* Plan Section Styles */
    
    .plan {
        margin: 1% 2% 10%;
    }

    .plan-upper {
        margin: 0 1% 2%;
    }

    .plan-lower {
        grid-template-columns: repeat(1,1fr);
        gap: 0;
    }

    .plan-card {
        margin: 1% 1%;
        padding: 5% 3%;
    }

    /* Compaign Section */

    .compaign {
        margin: 1% 2% 10%;
    }

    .compaign-part {
        flex-direction: column;
        margin-bottom: 2%;
        margin: 0 1% 2%;
    }

    .compaign-part-2 {
        flex-direction: column-reverse;
    }

    .compaign-info {
        width: 100%;
        text-align: center;
        
    }

    .compaign-img-container {
        width: 100%;
        text-align: center;
        margin-top: 1%;
    }

    .compaign-img-container img {
        width: 100%;
    }

    /* Update Section */

    .update {
        margin: 1% 2% 10%;
    }

    .update-upper {
        margin: 0 1% 2%;
    }

    .update-lower {
        width: 100%;
        padding: 5% 10%;
        margin-top: 2%;
    }

    .update-lower input {
        padding-left: 5%;
        border-radius: 5% 0 0 5%;
        background: rgb(217, 217, 217);
        color: rgb(170, 159, 159);
        font-size: 1rem;
        font-weight: 500;
    }

    .btn-update {
        border-radius: 0px 5% 5% 0;
        color: rgb(255, 255, 255);
        font-size: 1rem;
        font-weight: 600;
        border: none;
    }

    /* Footer */

    .footer-title {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .footer-subtitle {
        color: rgb(217, 219, 225);
        font-size: 0.875rem;
        letter-spacing: 0.3px;
    }
}