@media screen and (max-width:576px) {
    * {
        margin: 0;
        padding: 0;
    }

    .title {
        font-size: 2rem;
        margin-bottom: 1%;
    }

    .subtitle {
        font-size: 1rem;
    }

    /* Banner Section */

    .banner-container {
        margin: 1% 2%;
        flex-direction: column;
        background-size:150%;
        background-repeat: no-repeat;
        background-position: bottom;
    }

    .banner-left {
        width: 100%;
    }

    .banner-title {
        font-size: 3rem;
        margin-bottom: 2%;
    }
    
    .banner-subtitle {
        font-family: Poppins;
        font-size: 0.875rem;
        margin-bottom: 3%;
    }

    .banner-right {
        width: 100%;
        border: 2px solid green;
        text-align: center;
        margin-right: 0;
    }
    
    .banner-right img {
        width: 100%;
    }
    
    /* Today Section */

    .today {
        margin: 2% 2%;
    }

    .today-part-1 {
        margin: 0 1% 2%;
    }
    
    .today-part-2 {
        grid-template-columns: repeat(2,1fr);
        margin: 1% 1%;
    }

    .today-card {
        padding: 3% 2%;
        font-size: 1.5rem;
    }

    .today-part-3 {
        margin: 1% 1%;
    }

    /* Plan Section Styles */
    
    .plan {
        margin: 2% 2%;
    }

    .plan-upper {
        margin: 0 1% 2%;
    }

    .plan-lower {
        grid-template-columns: repeat(1,1fr);
        gap: 0;
    }

    .plan-card {
        margin: 1% 1%;
        padding: 5% 3%;
    }

}