@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Shared Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif,"Poppins", sans-serif,"Lobster";
    font-size: 16px;
}

.dark-1 {
    color: rgb(112, 112, 112);
}

.btn-primary {
    border-radius: 5px;
    background: rgb(255, 89, 89);
    padding: 3% 4%;
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 600;
}

.title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1%;
}

.subtitle {
    color: rgb(112, 112, 112);;
    font-family: Poppins;
    font-size: 1.125rem;
}

/* Header Styles */

.banner-container {
    
    position: relative;
    margin: 3% 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url(../images/background.png);
    background-size: 62%;
    background-repeat: no-repeat;
    background-position: right bottom;
}

.banner-left {
    width: 40%;
    
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 5%;
}

.help {
    color: red;
}

.banner-subtitle {
    font-family: Poppins;
    font-size: 1.125rem;
    margin-bottom: 7%;
}

.banner-right {
    width: 50%;
    
    text-align: center;
    margin-right: 7%;
}


/* Today Section */

.today {
    margin: 0 15%;
    
    display: flex;
    flex-direction: column;
}

.today-part-1 {
    
    text-align: center;
    margin: 0 10% 5%;
}

.today-part-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15%, 1fr));
    grid-gap: 1rem;
    text-align: center;
    margin-bottom: 4%;
}

.today-card {
    
    border-radius: 4%;
    background: rgb(250, 250, 250, 0.9);
    padding: 1% 0;
    color: rgb(112, 112, 112);
    font-size: 1.5rem;
    font-weight: 700;
}

.today-card-2 {
    color: rgb(255, 89, 89);
    border: 3px solid rgb(255, 89, 89);
}

.today-part-3 {
    
    text-align: center;
}

.today-part-3 input {
    color: rgb(179, 179, 179);
    border: none;
    font-family: Poppins;
    font-size: 1.125rem;
    margin: 1% 0;
    text-align: center;
    
}

.today-part-3 hr {
    border: 1.5px solid rgb(179, 179, 179);
    margin: 0 5% 1%;
}

.btn-today {
    padding: 1.5% 2.5%;
}

/* Plan Section */

.plan {
    
    display: flex;
    flex-direction: column;
    margin: 3% 10%;
}

.plan-upper {
    
    text-align: center;
    margin: 0 10% 5%;
}


.plan-lower {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5%;
    
}

.plan-card {
    
    padding: 10% 5%;
    border-radius: 3%;
}

.plan-card-1 {
    background: rgba(79, 157, 166, 0.1);
}

.plan-card-2 {
    background: rgba(255, 89, 89, 0.1);
}

.plan-card-3 {
    background: rgb(255,244,214,0.7);
}

.plan-card-title {
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2%;
}

.plan-card-subtitle {
    color: rgb(112, 112, 112);
    font-family: Poppins;
    font-size: 1rem;
}

.plan-card img {
    margin-bottom: 2%;
}

/* Compaign Section */

.compaign {
    
    display: flex;
    flex-direction: column;
    margin: 3% 10%;
}

.compaign-part {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
}

.compaign-part-2 {
    margin-bottom: 0;
}

.compaign-info {
    width: 48%;
    
    text-align: left;
}

.compaign-img-container {
    width: 50%;
    text-align: left;
    
}

.info-2 {
    margin-right: 2%;
}

.compaign-subtitle {
    margin: 4% 0;
}

.btn-compaign {
    padding: 2% 2.5%;
}

/* Update Section */

.update {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3% 10%;
}

.update-upper {
    text-align: center;
    margin: 0 30%;
}

.update-lower input {
    display: block;
    padding-left: 5%;
    border: none;
    border-radius: 5% 0 0 5%;
    background: rgb(217, 217, 217);
    color: rgb(170, 159, 159);
    font-size: 1rem;
    font-weight: 500;
}

.update-lower {
    display: flex;
    justify-content: center;
    background: rgb(255, 244, 214);
    padding: 5% 20%;
    margin-top: 2%;
}

.btn-update {
    border-radius: 0px 5% 5% 0;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 600;
    border: none;
}

/* Footer */

footer {
    border: 1px solid rgb(11, 13, 23);
    background: rgb(11, 13, 23);
}

.footer-info {
    margin: 2% 0;
    text-align: center;
}

.footer-title {
    color: rgb(255, 89, 89);
    font-family: Lobster;
    font-size: 2.25rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 0.5%;
}

.footer-subtitle {
    color: rgb(217, 219, 225);
    font-size: 1rem;
    letter-spacing: 0.3px;
}